<h1>The restaurant...</h1>

<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Type of Food: <%= @restaurant.type_of_food %></p>
<p>Capacity: <%= @restaurant.capacity %></p>
<p>Rating: <%= @restaurant.rating %></p>

